\body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-top: 70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.pageLabel {
    margin-left: 25px;
    margin-bottom: 25px;
}
#searchStudents {
    width: 300px;
}
#searchCourses {
    width: 300px;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}



.field-validation-error {
    color: red;
}

.input-validation-error {
    
}

#submitStudent {
    margin-left: 10px;
}

#submitDiv {
    margin-top: 2%;
}



/*New style*/

@media print
{   
    body {-webkit-print-color-adjust: exact;}
            
    .no-print, .no-print *
    {
        display: none !important;
    }

    .no-print-required, .no-print-required *
    {
        display: none !important;
    }
}


body {font-size:12px; }

table td {max-height: 15px;}

select, input {background-color:#D6E6F4;border:0;}
.element-white {background-color:#fff;border:0;}
#foto {cursor: pointer;}
.titulo {background-color:#1F4A7D;font-family:'Open Sans Condensed';font-weight:700;}
textarea
{
    border: 1px solid #c3c3c3;             
    resize: none;             
    overflow-x: hiden;
    height: 25px;
}
         
         
select{
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow:'';
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    font-style: italic;
}
select::-ms-expand {
    display: none;
}
.select-wrapper
{
    padding-left:0px;
    overflow:hidden;              
}
          
h6::first-letter {margin-top: 0; }
h4::first-letter {margin-top: 0; }

h6{ font-size: 14px; }

.validation-summary-errors {
    color: red !important;
    margin-bottom: 2% !important;
    font-size: x-large !important;
}